.formContainer {
    width: 23.75rem;
    height: 16.25rem;
    background: var(--white);
    border-radius: 10px;
    padding: 2.5rem 2.125rem 2.5rem 1.813rem;

    display: flex;
    flex-direction: column;

    span,
    strong,
    label {
        color: #3F3F40;
    }

    span {
        width: 17.563rem;
        font-weight: 300;
        font-size: 1.125rem;
        line-height: 26px;

        text-transform: uppercase;
    }

    strong {
        font-weight: 700;
        font-size: 1.313rem;
        line-height: 26px;
    }

    label {
        font-weight: 300;
        font-size: 0.75rem;
        line-height: 19px;

        text-align: center;
        margin: 0.938rem 0 1.938rem 0;
    }

    div>input {
        width: 14.375rem;
        border-radius: 4px;
        border: 1px solid #2A2A2A;
        padding: 0.813rem 0 0.75rem 1.563rem;
        margin-right: 0.563rem;

        &::placeholder {
            color: #C0C0C0;
        }
    }

    div>button {
        background: var(--primary-pink);
        border-radius: 4px;
        border: none;
        height: 100%;
        padding: 0 1.313rem;
        font-weight: 700;
        font-size: 0.875rem;
        line-height: 20px;

        text-align: center;
        color: var(--white);
    }
}